@import "tema/normalize";
@import "tema/boilerplate1";
@import "tema/medina";
@import "tema/cores";
@import "tema/fontes";
@import "font-awesome.min";

* {
    @extend .box-sizing;
}

body {
    font-family: 'Dosis', sans-serif;
    font-size: 10px;
}


/* Cabeçalho */

#cabecalho {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 720px;
    background: url('../img/bg.jpg') no-repeat center;
    
    @media(min-width: 768px){
        position: static;
        height: 630px;
    }
    
    @media(min-width: 960px){
        position: fixed;
        height: 610px;
    }
}

#cabecalho-recipiente {
    height: 100%;
    color: $azul-marinho;
    padding: 20px 0;
    background-color: rgba($verde, .2);
    
    @media(min-width: 768px){
        padding: 20px 0;
    }
}

#logo {
    cursor: default;
    font-size: 6.4em;
    font-weight: 600;
    text-align: center;
    padding-top: 180px;
    margin-bottom: 10px;
    background: url('../img/code-logo.png') no-repeat center top;
}

#resumo {
    text-align: center;
    margin-bottom: 30px;
    
    @media(min-width: 768px){
        margin-bottom: 30px;
    }
    
    h2 {
        font-size: 2.6em;
        font-weight: 600;
        margin: 0 0 10px;
        
        @media (min-width: 768px){
            font-size: 3.6em;
        }
    }

    p {
        font-size: 1.6em;
        font-weight: 400;
        margin: 0;
    
        @media(min-width: 768px){
            font-size: 2.2em;
        }
    }
}

#lancamento {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    
    @media(min-width: 768px){
        width: 500px;
    }
    
    p {
        font-size: 1.8em;
        margin: 0 0 10px;
        
        @media(min-width: 768px){
            font-size: 2em;
        }
    }

    form {
        position: relative;
    }

    label {
        display: none;
    }

    input {
        outline: none;
        display: inline-block;
        width: 100%;
        height: 60px;
        color: rgba(0,0,0,.6);
        font-family: 'Dosis', sans-serif;
        font-size: 2em;
        font-weight: 400;
        padding: 0 30px;
        border: 0;
        border-radius: 30px;
        box-shadow: 0 0 10px rgba($azul-marinho,.1);
    
        &:focus {
            box-shadow: 0 0 10px rgba($azul-marinho,.3);
        }
    }

    button {
        outline: none;
        position: static;        
        display: inline-block;
        height: 50px;
        color: rgb(255,255,255);
        font-family: 'Dosis', sans-serif;    
        font-size: 2em;
        text-transform: uppercase;
        padding: 0 30px;
        background-color: $azul-marinho;
        border: 0;
        border-radius: 0 0 30px 30px;
    
        @media(min-width: 768px){
            position: absolute;
            top: 5px;
            right: 5px;
            border-radius: 0 30px 30px 30px;
        }
    
        i {
            margin-left: 6px;
        }
    
        &:hover {
            background-color: lighten($azul-marinho, 10%);
        }

        &:active {
            transition: none;
            background-color: darken($azul-marinho, 5%);
        }
    }
}


/* Principal */

#principal {
    position: static;
    left: 0;
    width: 100%;
    border-top: solid 20px rgba(255,255,255,.3);
    
    @media(min-width: 950px){
        position: relative;
        top: -20px;
    }
    
    @media(min-width: 960px){
        position: absolute;
        top: 590px;
    }
}

#principal-recipiente {
    padding: 0;
    background-color: rgb(255,255,255);
    
    @media(min-width: 768px){
        padding: 40px 0 0;
    }
}

#sobre-o-projeto {
    color: $azul-marinho;
    margin-bottom: 80px;
    text-align: center;
    
    @media(min-width: 768px){
        text-align: left;
    }
    
    h2 {
        font-size: 3.2em;
        font-weight: 600;
        text-align: center;
        margin-bottom: 30px;
        
        @media(min-width: 768px){
            font-size: 5em;
        }
    }

    section {
        margin-bottom: 40px;
    }

    h3 {
        font-size: 2.4em;
        font-weight: 600;
        margin-bottom: 10px;
    
        @media(min-width: 768px){
            font-size: 3.6em;
        }
    }

    i {
        display: inline-block;
        width: 20px;
        text-align: center;
        margin-right: 10px;
        
        @media(min-width: 768px){
            width: 40px;
        }
    }

    p {
        font-size: 1.8em;
        font-weight: 400;
        margin: 0;
    
        @media(min-width: 768px){
            font-size: 1.9em;
        }
    }
}


#footer {
    text-align: center;
    padding: 20px 0;
    background-color: rgba(0,0,0,.1);
    
    address {
        color: rgba(0,0,0,.6);
        font-size: 2.4em;
        font-weight: 400;
    }
}

@import "tema/boilerplate2";