// logo

.logo {
  margin: 0;
  text-align: center;
}

.logo__link {
  display: inline-block;
  text-decoration: none;
}

.logo__image {
  display: block;
}

.logo__title {
  margin: 0;
}

@include media($screen-md) {
  .logo {

  }

  .logo__image {

  }
}
