/* 
    Um conjunto de códigos utilizados pelo Medina.
    
    gmedina.santos@gmail.com
    http://github.com/gabrielmedina
*/


/* Box Sizing */

.box-sizing {
    box-sizing: border-box;   
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}


/* Grid */

.grade {
    width: 300px;
    margin: 0 auto;    
    *zoom: 1;
    
    @media(min-width: 768px){
        width: 700px;
    }
    
    @media(min-width: 980px){
        width: 960px;
    }

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

.linha {
    width: 100%;
    *zoom: 1;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

$colunas: 12;
$coluna-unidade: 100% / $colunas;
$coluna-padding: 0;

@for $i from 1 through $colunas {
  .coluna-#{$i} {
        float: left;
        width: $coluna-unidade * $i;
        padding: $coluna-padding;
    }
}

.coluna-esquerda {
    float: left;
    margin-left: 0;
}

.coluna-direita {
    float: right;
    margin-right: 0;
}

.coluna-centralizada {
    float: none;
    margin: 0 auto;
}