// nav

.nav {

}

.nav__list {
  cursor: default;

  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {

}

.nav__link {
  display: block;

  text-decoration: none;
  text-transform: uppercase;
}

.nav__btn {
  display: none;
}


@include media($screen-md-max) {
  .nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 200;

    box-sizing: border-box;
    width: 100%;
    height: 100vh;

    @include transform(translateX(100%));
    @include transition(.2s ease);

    .link--current {

    }
  }

  .nav__list {
    float: right;

    display: inline-block;
    box-sizing: border-box;
    max-width: 90%;
    height: 100vh;
    background: $white;
    border-top: solid 4px $primary;

    text-align: center;

    overflow-y: scroll;
  }

  .nav__item {

  }

  .nav__link {
    color: $primary;
    font-size: .85em;

    padding: 1.4rem 4rem;
  }

  .nav--opened {
    overflow: hidden;
    height: 100%;

    .nav {
      @include transform(translateX(0));
    }

    .nav__btn {
      color: $primary;
    }

    body {
      overflow: hidden;

      &:after {
        content: "";

        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;

        display: block;
        width: 100%;
        height: 100%;
        background: rgba($black, .4);
      }
    }
  }

  .nav__btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 300;

    display: block;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;

    color: $primary;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;

    @include transition(.15s ease);
  }
}

@include media($screen-md) {
  .nav {
    text-align: right;
    padding: .5rem 0;

    .link--current {
      opacity: .7;
    }
  }

  .nav__list {

  }

  .nav__item {
    display: inline-block;
    margin-left: .2rem;
  }

  .nav__link {
    color: $primary;
    font-size: .85em;
    font-weight: 400;

    padding: .8rem 1rem;

    @include transition(border .1s ease);

    &:hover,
    &:focus {
      opacity: .7;
    }
  }
}
