// breakpoints

$breakpoint-ty: 460px;
$breakpoint-sm: 768px;
$breakpoint-md: 1100px;
$breakpoint-lg: 1320px;

$screen-ty:     new-breakpoint(min-width $breakpoint-ty);
$screen-ty-max: new-breakpoint(max-width $breakpoint-ty);

$screen-sm:     new-breakpoint(min-width $breakpoint-sm);
$screen-sm-max: new-breakpoint(max-width $breakpoint-sm);
$screen-sm-only: new-breakpoint(min-width $breakpoint-ty max-width $breakpoint-sm);

$screen-md:     new-breakpoint(min-width $breakpoint-md);
$screen-md-max: new-breakpoint(max-width $breakpoint-md);
$screen-md-only: new-breakpoint(min-width $breakpoint-sm max-width $breakpoint-md);

$screen-lg:     new-breakpoint(min-width $breakpoint-lg);
$screen-lg-max: new-breakpoint(max-width $breakpoint-lg);
